
<!--Redesigned navbar-->
<div id="navbarWrapper">
  <nav class="desk">
    <ul class="nav">
      <li><a routerLink='/home' routerLinkActive='active'>Home</a></li>
      <li><a routerLink='/results' routerLinkActive='active'>Results</a></li>

      <li><a (click)="openDialog()">Contact</a></li>
    </ul>
  </nav>

  <nav class="mob">
      <div class="d-flex justify-content-end" id="outerHamburger">
        <div id="hamburger">

          <div id="hamWrap">
            <img id="hamburgerIcon" src="../assets/Hamburger_icon.png">
          </div>

        </div>
      </div>

      <div id="mobListWrap">
          <ul class="nav">
            <li><a routerLink='/home' routerLinkActive='active'>Home</a></li>
            <li><a routerLink='/results' routerLinkActive='active'>Results</a></li>

            <li><a (click)="openDialog()">Contact</a></li>
          </ul>
      </div>
    </nav>

  <div class="header"></div>
</div>

<div id="routerOutlet">
  <router-outlet></router-outlet>
</div>


